.calva/output-window/
.classpath
.cpcache
.DS_Store
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.portal
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.jar
*.swp
*~
/checkouts
/classes
/target

# Native
/META-INF
/reports
dartclj-*-aarch64-darwin
dartclj-*-aarch64-linux

# Lint
.clj-kondo/*
!.clj-kondo/config.edn
.lsp/

# CLJS
.cljs_node_repl/
cljs-test-runner-out/
.shadow-cljs/

# Node
node_modules/

# NPM Example App
npm-test-app/target

# Idea
DartClojure.iml
.idea/
