{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        better-cond/better-cond {:mvn/version "2.1.4"}
        instaparse/instaparse {:mvn/version "1.4.12"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.767-alpha"}
        zprint/zprint {:mvn/version "1.2.3"}}
 :aliases
 {:depstar {:replace-deps
            {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :ns-default hf.depstar
            :exec-fn hf.depstar/uberjar
            :exec-args {:jar dartclj.jar
                        :aot true
                        :compile-ns [dumch.dartclojure]
                        :main-class "dumch.dartclojure"}}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :artifact "dartclj.jar"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.0" :git/sha "48c3c67"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.54"}}}}}
